body{
  background:#0f172a;
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.clock{
  background:#020617;
  color:white;
  padding:30px 40px;
  border-radius:12px;
}
